*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

/* GRID CONTAINER */
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.2fr;
    grid-template-rows: 100px 80px 120px 80px 120px 80px;
    gap: 10px;
    padding: 10px;
}

/* COMMON BOX STYLE */
.box{
    background-color: #88fcd3;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
}

/* POSITIONING */
.nav1{
    grid-column: 1 / 5;
}

.aside{
    grid-column: 5 / 6;
    grid-row: 1 / 7;
}

.nav2{
    grid-column: 1 / 5;
}

.main1{
    grid-column: 1 / 3;
}

.main2{
    grid-column: 3 / 5;
}

.sec1{
    grid-column: 1 / 5;
}

.sec2{
    grid-column: 1 / 3;
}

.sec3{
    grid-column: 3 / 5;
}

.footer{
    grid-column: 1 / 5;
}