* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Inter", sans-serif;

    font-weight: 400;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #d8f4fb;

}

.nav
{
    height: 110px;
    width :100%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0 50px;
}
.nav-part-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav img{
    height: 80px;
    width : auto;
    margin: 10px;
    cursor: pointer;
}
.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    

}
.nav-part-1 ul li{
    margin: 30px;
    font-weight: 600;
    transform: uppercase;
    cursor: pointer;
}
.nav-part-2{
    margin-right: 40px;
    font-size: 21px ;
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    align-content: space-between;
}
.content{
    height:calc(100% - 110px) ;
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    padding: 30px 100px;

}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(147, 147, 147);
    margin-bottom: 10px;
}
.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
}
.content-left p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 80%;
    margin-bottom: 10px;
}
.btn
{
    background-color: black;
    color: rgb(241, 192, 100);
    font-size: 20px;
    padding: 12px 40px;
    font-weight: 400;
    border: none;
    border-radius: 40px;
    border-top-left-radius: 0;

}
.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    display: flex;

}
.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0 5px 10px rgb(0, 0, 0) ;
    display: inline-block;
    margin-right:20px ;
    border-radius: 20px 10px;
}
.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
    border-radius: 20px;
}
.product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding: 4px;
}
.category{
    position: absolute;
    bottom: 20%;
    font-weight: 500;
    padding: 4px;
}
.color{
    position: absolute;
    bottom: 15%;
    font-weight: 500;
    padding: 4px;
}
.price{
    position: absolute;
    bottom: 5%;
    font-weight: 600;
    font-size: 18px;
    padding: 4px;

}
